table.price th, table.price td {
    border: grey thin solid;
    padding: 4px;
}

table.price thead th {
    color: white;
    background-color: grey;
}

.price tfoot .total {
    text-align: right;
    font-style: italic;
}