@font-face { 
    font-family: 'PTSans'; 
    src: url('fonts/PTSansRegular.woff2') format('woff2'),
        url('fonts/PTSansRegular.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}

@font-face { 
    font-family: 'PTSans'; 
    src: url('fonts/PTSansitalic.woff2') format('woff2'),
        url('fonts/PTSansitalic.woff') format('woff'); 
    font-weight: normal; 
    font-style: italic; 
}

@font-face { 
    font-family: 'PTSans'; 
    src: url('fonts/PTSansBold.woff2') format('woff2'), 
        url('fonts/PTSansBold.woff') format('woff'); 
    font-weight: bold; 
    font-style: normal; 
}

@font-face { 
    font-family: 'PTSans'; 
    src: url('fonts/PTSansBolditalic.woff2') format('woff2'), 
        url('fonts/PTSansBolditalic.woff') format('woff'); 
    font-weight: bold; 
    font-style: italic; 
}

html, body, div, span, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup, menu,
nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1.2;
}

ol {
    padding-left: 1.4em;
    list-style: decimal;
}

ul {
    padding-left: 1.4em;
    list-style: square;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-size: 77.5%;
}

.content {
    margin: 15px;
    border: 1px dashed #999;
    border-bottom: none;
}

h1 {
    font: normal 2.4em Verdana, Arial, Helvetica, sans-serif;
    border-bottom: 1px dashed #999; 
    padding: 8px 0 8px 8px; 
    color: #14556B; 
}

p { 
    font: 1.6em/160% Georgia, "Times New Roman", Times, serif; 
    margin: 10px 8px; 
}

.copyright { 
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 1em; 
    text-transform: uppercase; 
    color: #666666; 
    margin: 0; 
    padding-left: 8px; 
    border-top: 1px dashed #999; 
    clear: both; 
} 

figure { 
    float: right; 
    width: 322px; 
    margin: 15px 10px 5px 10px; 
}

figure img { 
    border: 1px solid #666; 
    background-color: #CCC; 
    padding: 10px; 
}

figcaption { 
    font: bold 1em/normal Verdana, Arial, Helvetica, sans-serif; 
    color: rgb(128, 128, 128); 
    text-align: center;
    background-image: linear-gradient(to bottom, #87CEEB, white); 
    border: 1px dashed #666; 
    padding: 5px;
}